.TypeList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    }
    
    .TypeList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    }
    
    .TypeList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    }
    
    .TypeList li.active {
    color: var(--text-ligh);
    background-color: var(--light-blue);
    border: .1vmin solid var(--red);
    }