.star-rating span {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .star-rating .on {
    color: var(--yellow);
  }
  .star-rating .off {
    color: var(--text-light);
  }