.AuthPage {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--blue);
    border-radius: 2vmin;
  }
  .AuthPage .form {
    background-color: white;
    border: .5vmin solid var(--yellow);
  }
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: var(--white);
    cursor: pointer;
  }