.NewOrderPage {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr, 3fr;
    background-color: var(--white);
    border-radius: 2vmin;
    grid-template-areas:
    "nav nav"
    "main aside";
    gap: 5px;
    padding: 5px;
  }
  .NewOrderPage nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .NewOrderPage nav > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .NewOrderPage main {
    grid-area: main;
    max-height: calc(100vh - 18vmin);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .NewOrderPage main::-webkit-scrollbar {
    display: none;
  }
  .NewOrderPage aside {
    grid-area: aside;
    max-height: calc(100vh - 18vmin);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .NewOrderPage aside::-webkit-scrollbar {
    display: none;
  }
