.Logo {
    height: 12vmin;
    width: 12vmin;
    display: flex;
    font-family: 'Vast Shadow', cursive;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--red);
    font-size: 2.5vmin;
    border: .6vmin solid var(--black);
    }
    .Logo img {
        height: 12vmin;
    }