.MenuListPoke {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .5vmin solid var(--red);
    border-radius: 1vmin;
    font-size: 4vmin;
  }
  
  .MenuListPoke .img {
    height: 8vw;
    width: 8vw;
    background-color: var(--yellow);
    border: .5vmin solid var(--blue);
    border-radius: 1vmin;
  }
  .MenuListPoke .img:hover {
    background-color: var(--blue);
    border-color: var(--yellow);
    cursor: pointer;
  }
  
  .MenuListPoke .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListPoke .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: var(--text-light);
  }
  .MenuListPoke button:hover {
    background-color: red;
    size: 3vw;
  }
  
  .MenuListPoke .name {
    font-size: 2vw;
    text-align: center;
    color: var(--text-light);
  }
  .MenuListPoke .name:hover {
    cursor: pointer;
    font-size: 2.4vw;
    color: var(--black);
  }