.OrderDetail {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    color: var(--gray);
  }
  
  .OrderDetail .sectionHeading {
    width: 100%
  }
  
  .OrderDetail .lineItemContainer {
    margin-top: 3vmin;
    justify-content: flex-start;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: calc(100vh - 18vmin);
  }
  .OrderDetail .lineItemContainer::-webkit-scrollbar {
    display: none;
  }
  
  .OrderDetail .total {
    width: 100%;
    display: grid;
    grid-template-columns: 18.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--gray);
    border-top: .5vmin solid var(--blue);
  }
  
  .OrderDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--black);
  }
  
  .OrderDetail .total span.right {
    display: flex;
    justify-content: flex-end;
  }
  
  .OrderDetail .lonely {
    font-size: 2vmin;
  }