.OnePokemon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .1vmin solid var(--red);
    border-radius: 1vmin;
    font-size: 4vmin;
  }
  
  .OnePokemon .img {
    height: 10vw;
    width: 10vw;
    font-size: 4vw;
    background-color: var(--light-blue);
    border: .1vmin solid var(--blue);
    border-radius: 1vmin;
  }
  
  .OnePokemon .buy {
    display: flex;
    flex-direction: column;
  }
  
  .OnePokemon .buy span {
    font-size: 2vw;
    text-align: center;
    color: var(--text-light);
  }
  
  .OnePokemon .name {
    font-size: 4vw;
    text-align: center;
    color: var(--text-light);
  }